# Auto detect text files and perform LF normalization
* text=auto

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
 
 }
 
 content {
     width: 460px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 10px;
 }
 
 div{
     border: 1px solid darkgrey
 }
 
 .title {
     width: auto;
     padding: 10px;
     margin-top: 20px;
 
     background: rgb(253, 48, 48);
     border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
     color: white;
     text-transform: uppercase;
     font-size: 20px;
     text-align: center;
     font-weight: bold;
     letter-spacing: 3px;
 }
     
 .items{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
 .item{
     min-width: 200px;
     min-height: 400px;
     margin-bottom: 10px;
     padding: 10px;
 
     background-color: #ffffff;
 
     border: 1px solid rgb(194, 194, 194);
     border-radius: 5px;
     box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
 
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .item-title{
     font-weight: bold;
 }
 
 .item-image{
     height: 200px;
 
 }
 
 .parts-pay {
     margin: 30px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: center;
 
 }
 
 .parts-pay img{
     height: 20px;
 }
 
 .price{
     border: 1px solid rgb(194, 194, 194);
     border-radius: 5px;
     padding: 5px 10px;
     display: flex;
 }
 
 .price div:first-child span {
     text-decoration-line: line-through;
 }
 
 .price div:first-child sup {
     font-size: 12px;
 }
 
 .price div:last-child {
     font-size: 24px;
 }
 
 .price div:last-child sup {
     font-size: 14px;
 }
 
 .bonus {
     background: rgb(253, 48, 48);
     color: white;
     border-radius: 5px;
     display: flex;
     align-items: center;
 }
 
 .bounus div:first-child {
     width: 100px;
     font-size: 14px;
 }
 
 .bonus div:last-child {
     font-size: 24px;
 }
 
 .bonus div:last-child sup {
     font-size: 14px;
 }
 
 .contacts p {
     margin: 3px;
 }
 
 .contacts p:first-child {
     font-weight: bold;
     letter-spacing: 1px;
 }
 
 .contacts p:last-child {
     border-left: 3px solid rgb(253, 48, 48);
 }
 
 .info {
     font-size: 9px;
     text-align: justify;
     color: rgb(120, 120, 120)
     
 }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Market</title>
</head>
<body>
    <content>

        <div class="title">Товари на які діє знижка</div>

        <div class="items">
            <div class="item">

                <div class="item-title">Мотокоса 43</div>
                <div class="item-image">
                    <img src="img-market/1.png" alt="Мотокоса 43">
                </div>

                <div class="parts-pay">
                    <div><img src="img-market/mono-lapka.png" alt="">6</div>
                    <div><img src="img-market/pb.png" alt="">8</div>
                </div>

                <div class="price">
                    <div><span>5499 </span><sup>грн</sup></div>
                    <div><span>4497 </span><sup>грн</sup></div>
                </div>

                <div class="price bonus">
                    <div> ціна за купоном</div>
                    <div><span>4395</span><sup>грн</sup></div>
                </div>
            </div>
        </div>
        <div class="title">Товари зі знижкою</div>
        <div class="item">
        <div class="item">Тример</div>
        <div class="item">Мотокоса</div>
        <div class="item">Газонокосарка</div>
        <div class="item">Оприскувач</div>
        </div>
        <div>
            <p>Житомир</p>
            <p>вул. Київська, 106</p>
            <p>| +38 (067) 414-53-30*</p>
        </div>
        <div>*Знижка в розмірі сто гривень діє з Loren, 1psu
            dolor
            sit ant consectetur adipisicine elit. Ques officia
            distinctio Itaque quisquan ratione fugit, incidunt sint,
            corporis justo inventore facere. Voluptates,
            temeti Veritatts er prouldent factls， Susciplt eague
            nica. Loren ipsun dolors Silt ence consectetur
            Cipsanspit Comor gastepon foglat- Expedita.
            accusantium Laborum soluta officIis, auten
            คุนโรดุมลล enia erron sint expLicabo ad magnan a deserunt
            qutexcepturt nemo.cciy</div>
    </content>
    
</body>
</html>